###############################################################################
# Eclipse / S32DS
###############################################################################

.metadata/
RemoteSystemsTempFiles/
.settings/

Debug/
Release/
Debug_FLASH/
Release_FLASH/

Binaries/

###############################################################################
# Build files
###############################################################################

*.elf
*.map
*.bin
*.hex
*.srec
*.o
*.d

###############################################################################
# Qt Creator
###############################################################################

build*/
cmake-build*/
*.pro.user
*.user

###############################################################################
# VSCode
###############################################################################

.vscode/

###############################################################################
# Windows
###############################################################################

Thumbs.db
Desktop.ini